.footer-contacts {
  &__item:not(:last-child) {
    @include m(0, 0, 15, 0);
  }

  &__text {
    display: inline-block;
    min-width: px(57);
  }
  &__link {
    color: $color-default--light;
  }
}
