.footer-grid {
  display: flex;
  justify-content: space-between;
  @include p(130, 0, 130, 0);
  @include l_desktop {
    @include p(50, 0, 50, 0);
  }
  @include sm_desktop {
    flex-wrap: wrap;
  }
}

.footer-grid__item-col1,
.footer-grid__item-col2,
.footer-grid__item-col3 {
  flex: 0 1 $col3-width;
  max-width: $col3-width;
  @include sm_desktop {
    @include m(0, 0, 0, 0);
  }
  @include width575 {
    flex: 0 1 100%;
    @include m(0, 0, 35, 0);
    max-width: 100%;
  }
}

.footer-grid__item-col1 {
  @include m(0, 30, 0, 0);
  @include l_desktop {
    flex: 0 1 25%;
    max-width: 25%;
  }
  @include sm_desktop {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.footer-grid__item-col2 {
  @include m(0, 30, 0, 0);
  @include sm_desktop {
    flex: 0 0 50%;
    max-width: 50%;
    @include p(0, 0, 0, 15);
  }
  @include width575 {
    @include p(0, 0, 0, 0);
  }
}

.footer-grid__item-col3 {
  @include m(0, 0, 0, 0);
  @include sm_desktop {
    flex: 0 1 100%;
    @include m(30, 0, 0, 0);
    max-width: 100%;
  }
  @include width575 {
    @include m(0, 0, 0, 0);
  }
}

// &__item {
//   flex: 0 1 $col3-width;
//   max-width: $col3-width;
// }

// &__item:not(:last-child) {
//   @include m(0, 30, 0, 0);
//   @include sm_desktop {
//     @include m(0, 0, 0, 0);
//   }
// }
