.footer-grid {
  display: flex;
  justify-content: space-between;
  @include p(130, 0, 130, 0);

  &__item {
    @include m(0, -15, 0, -15);
    @include p(0, 15, 0, 15);
    max-width: 25%;
  }

  &__item--wide {
    max-width: 50%;
  }
}





