.footer-grid {
  display: flex;
  justify-content: space-between;
  @include p(130, 0, 130, 0);

  &__item {
    flex: 0 1 $col3-width;
    max-width: $col3-width;
  }

  &__item:not(:last-child) {
    @include m(0, 30, 0, 0);
  }

  @include width575 {
    flex-direction: column;
  }

  @include l_desktop {
    @include p(50, 0, 50, 0);
  }
}

.footer-grid__item-col1 {
  @include l_desktop {
    flex: 0 1 25%;
    max-width: 25%;
  }
}
