.footer {
  position: relative;
  z-index: $zIndexSectionContent;
  font-size: px(18);

  @include l_desktop {
    font-size: px(15);
  }
}

@import "/__footer-grid.scss";
@import "/__footer-box.scss";
@import "/__footer-location.scss";
@import "/__footer-contacts.scss";
@import "/__footer-social-link.scss";
@import "/__footer-form.scss";
@import "/footer_bottom/_footer-bottom.scss";
