@import "utils/_libs.scss";
@import "utils/_vars.scss";
@import "utils/_mixins.scss";
@import "utils/_fonts.scss";
@import "utils/_reset.scss";

@import "modules/_header.scss";
@import "modules/_footer.scss";

body {
  background-color: $baseBGcolor;
}
#head-page {
  font-family: $baseFont;
  font-size: $baseFontSize;
}
.wrapper {
  height: 2000px;
}