@import "/utils/_libs.scss";
@import "/utils/_mixins.scss";
@import "/utils/_vars.scss";
@import "/utils/_fonts.scss";
@import "/utils/_reset.scss";

@import "/modules/header/_header.scss";
@import "/sections-head-page/sections-head-page.scss";
@import "/modules/_footer.scss";

html {
  font-size: 16px;
}

body {
  background-color: $baseBGcolor;
  letter-spacing: $baseLetterSpasing;
}

#head-page {
  font-family: $baseFont;
  font-size: $baseFontSize;
}

.wrapper {
  height: 2000px;
  position: relative;
}

.container {
  max-width: 1199px;
  width: 100%;
  margin: 0 auto;
}

main {
  position: relative;
}

.lock_flow {
  overflow: hidden;
}