
.btn {
  display: inline-block;
  position: relative;
  z-index: $zIndexButton;
  
  border-left: px(5) solid #5f5cde;
  border-color: #5f5cde;
  background-color: #1b1b1b;
  cursor: pointer;

  @include p(8, 24, 8, 22);
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 0.05em;
  color: #ffffff;
  font-family: $font-family-default;
  font-size: px(15);

  transition: 
    border-color .25s ease-in-out,
    background-color .25s ease-in-out,
    color .25s ease-in-out;

  &:hover {
    border-color: #1b1b1b;
    background-color: #ffeb38;
    color: #000000;
  } 
}
