
.btn_link {
  display: inline-block;
  position: relative;
  @include p(10, 22, 10, 20);
  font-size: px(15);
  border-left: 5px solid #5f5cde;
  color: #ffffff;
  border-color: #5f5cde;
  overflow: hidden;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: #1b1b1b;
  cursor: pointer;
  z-index: 4000;
  transition: 
    background-color .25s ease-in-out,
    border-color .25s ease-in-out,
    color .25s ease-in-out;

  &:hover {
    color: #000000;
    background-color: #ffeb38;
    border-color: #1b1b1b;
  } 
}
