
.btn {
  display: inline-block;
  position: relative;
  z-index: 4000;
  border-left: 5px solid #5f5cde;
  @include p(8, 24, 8, 22);
  border-color: #5f5cde;
  background-color: #1b1b1b;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 0.05em;
  color: #ffffff;
  cursor: pointer;
  transition: 
    border-color .25s ease-in-out,
    background-color .25s ease-in-out,
    color .25s ease-in-out;

  &:hover {
    border-color: #1b1b1b;
    background-color: #ffeb38;
    color: #000000;
  } 
}
