.input-box {
  position: relative;
  display: flex;
  align-items: center;
}

.input-box__input {
  display: block;
  width: 100%;
  min-height: px(50);
  background-color: transparent;
  background-image: none;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  @include p(12, 19, 12, 38);
  line-height: px(24);
  letter-spacing: 0.03em;
  font-family: $font-family-default--light;
  font-size: px(18);
  font-weight: 300;
}

.input-box__icon {
  position: absolute;
  @include p(0, 0, 0, 3);
  line-height: px(24);
  font-size: px(15);
  color: $color-default--darken;
}

.input-box__placeholder {
  position: absolute;
  transition: opacity 0.3s;
  @include p(12, 19, 12, 38);
  text-align: left;
  line-height: px(24);
  letter-spacing: 0.03em;
  font-size: px(18);
  font-weight: 300;
  pointer-events: none;
}

.input-box__input:focus + .input-box__placeholder--focus {
  opacity: 0;
}
