.counter {
  display: flex;
  @include p(0, 5, 0, 5);
  text-align: left;
  color: $color-default--darkest;
}

.counter__number {
  @include m(0, 15, 0, 0);

  text-align: right;
  line-height: 1;
  font-size: px(100);
}
.counter__box {
  @include p(15, 0, 0, 0);
}

.counter__symbol {
  @include m(0, 0, 14, 0);
  line-height: 1;
  font-size: px(24);
}

.counter__title {
  text-transform: uppercase;
  line-height: 1.3;
  font-family: $font-family-default;
}
