.awards-list {
  display: grid;
  grid-template-columns: repeat(3, 33.33333%);
  background-clip: content-box;
  border-top: 1px solid $line-color-default;
  border-right: 1px solid $line-color-default;
}

.awards-list-item {
  height: 100%;
  transition: background-color 0.3s ease-in-out;
  border-left: 1px solid $line-color-default;
  border-bottom: 1px solid $line-color-default;
  overflow: hidden;

  &:nth-child(odd) {
    background-color: $bg-color-link;
  }

  &:hover {
    background-color: $bg-color-link-hover;
  }
}

.awards-link {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 100%;
  @include p(43, 10, 43, 10);
  color: $color-default--darken;
}

.awards-item-title {
  position: absolute;
  top: px(19);
  right: px(20);
  text-transform: uppercase;
}

.awards-link-img {
  object-fit: contain;
}

@include sm_desktop {
  .awards-item-title {
    top: px(10);
  }
}

@include l_table {
  .awards-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
