.awards-head {
  display: grid;
  grid-template-columns: repeat(3, 33.33333%);
  justify-items: center;
  align-items: center;
  @include m(0, 0, 65, 0);

  @include sm_desktop {
    grid-template-columns: repeat(2, 1fr);
    @include m(0, 0, 30, 0);
  }

  @include width575 {
    grid-template-columns: 1fr;
    justify-items: start;
  }
}

.awards-description {
  @include p(0, 40, 0, 45);
  font-family: $font-family-default--light;
  color: $color-default--darkest;

  @include l_desktop {
    @include p(0, 5, 0, 10);
  }

  @include sm_desktop {
    @include p(0, 20, 0, 20);
  }

  @include l_table {
    padding: 0 0 0 0;
  }

  @include width575 {
    @include m(0, 0, 30, 0);
  }
}

.awards__counter {
  max-width: 60%;
}

@include sm_desktop {
  .awards-title {
    grid-column: 1 / 3;
    @include m(0, 0, 30, 0);
  }
}

@include width575 {
  .awards-title {
    grid-column: 1 / 2;
  }
}
