.fade-left {
  // transition: transform 0.3s ease-in;
  transform: translateX(50%);
}

.fade-right {
  transform: translateX(-50%);
  // transition: transform 0.3s ease-in;
}

.fade-down {
  transform: translateY(40%);
}

.fade {
  visibility: hidden;
  opacity: 0;
}

.rollUp {
  transform: translate(0);
  transition: transform 0.4s ease-in, opacity 0.5s ease-in;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.t-delay-4 {
  transition-delay: 0.4s;
}

.t-delay-2 {
  transition-delay: 0.2s;
}
