body {
  font-family: $baseFont;
  font-size: 15px;
  font-weight: 300;
  background-color: $baseBGcolor;
  line-height: 1.67;
  letter-spacing: $baseLetterSpasing;
  color: rgba(0, 0, 0, .6);
}

p {
  overflow-wrap: break-word;
  color: rgba(26, 13, 13, 0.6);
}

main {
  position: relative;
}
