body {
  background-color: $color-default--light;
  line-height: 1.67;
  letter-spacing: $baseLetterSpasing;
  color: $color-default;
  font-family: $font-family-default--light;
  font-size: 15px;
  font-weight: 300;
}

p {
  overflow-wrap: break-word;
  // color: rgba(26, 13, 13, 0.6);
}

main {
  position: relative;
}
