
.wrapper {
  position: relative;
}

.overflow-h {
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1199px;
  padding: 0 $padding-default 0 $padding-default;
}

.context-dark {
  background-color: $bg-color-dark;
  color: $color-default--light;
}

.context-darkest {
  background-color: $bg-color-darkest;
  color: $color-default-lighten;
}

.title-primary {
  width: 100%;
  text-transform: uppercase;
  overflow-wrap: break-word;
  line-height: 1.13333;
  // font-family: $font-family-default--light;
  color: $color-default--darkest;
  font-size: px(45);
  font-weight: 300;
}

.title-secondary {
  width: 100%;
  line-height: 1.2;
  font-family: $font-family-default;
  font-size: px(24);
}

.title-tertiary {
  font-size: px(24);
}

.text-big {
  line-height: 1.77;
  font-size: px(18);
}

@include large_desktop {
  .title-primary {
    font-size: px(35);
  }
}

@include l_desktop {
  .container{
    max-width: 960px;
  }

  .title-primary {
    font-size: px(24);
  }

  .title-secondary {
    font-size: px(20);
  }

  .text-big {
    font-size: px(16);
  }

}

@include sm_desktop {
  .container {
    max-width: 720px;
  }
}

@include l_table {
  .container{
    max-width: 540px;
  }
}
