@font-face {
  font-family: 'Poppins';
  font-weight: 300;
  font-style: normal;
  src: url('/assets/fonts/Poppins.ttf');
}

@font-face {
  font-family: 'PoppinsBig';
  font-weight: 900;
  font-style: normal;
  src: url('/assets/fonts/Poppins-Bold.ttf');
}

@font-face {
  font-family: 'PoppinsLight';
  font-weight: 300;
  font-style: normal;
  src: url('/assets/fonts/Poppins-Light.ttf');
}
