.btn-burger {
  box-sizing: content-box;
  display: none;
  cursor: pointer;
  @include p(0, 15, 0, 15);
  width: 25px;
  height: 100%;
  max-width: 25px;
}

@include sm_desktop {
  .btn-burger {
    display: block;

    &__box {
      display: flex;
      position: relative;
      width: inherit;
      height: inherit;
      align-items: center;
      transition: all 0.4s ease-in;
    }

    &__line {
      display: block;
      position: absolute;
      transition: all 0.4s ease-in;
      z-index: $zIndexHeader + 1;
      background: $line-color-default--dark;
      width: 100%;
      height: 4px;

      &::before {
        @extend .btn-burger__line;
        content: "";
        top: 8px;
        transition: all 0.4s ease-in;
      }

      &::after {
        @extend .btn-burger__line;
        content: "";
        bottom: 8px;
        transition: all 0.4s ease-in;
      }
    }
  }
}
