.nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background: $bg-color-default;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
    border-left: 1px solid $line-color-default--dark;
    @include p(5, 10, 5, 10);
    overflow: hidden;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.02rem;
    color: $color-header-link;
    font-family: $font-family-default;
    font-size: px(14);
    font-weight: 600;

    &:hover {
      background: $bg-color-header-link;
      color: $color-header-link-hover;
    }

    &--selected {
      background: $bg-color-header-link;
      color: $color-header-link-hover;
    }
  }
}

@include sm_desktop {
  .nav {
    position: fixed;
    top: 0;
    left: -100%;
    grid-template-columns: px(260);
    grid-template-rows: repeat(4, px(50));
    transition: left 0.4s ease-in-out;
    gap: px(4);
    box-shadow: 0 0 10px #00000034;
    height: 100vh;
    @include p(70, 2, 0, 2);
    overflow: auto;

    &__link {
      justify-content: start;
      border-left: none;
      @include p(0, 10, 0, 15);
      text-align: left;
      color: $color-header-link--mobile;

      &:hover {
        background: $bg-color-header-link-hover--mobile;
        color: $color-default--light;
      }

      &--selected {
        background: $bg-color-header-link-hover--mobile;
        color: $color-default--light;
      }
    }
  }

  .nav.is_active_menu {
    left: 0;
  }
}
