@include sm_desktop {
  
  .btn-burger.is_active_menu .btn-burger__line {
    transform: rotate(180deg);
    border-radius: 0 25% 25% 0;
  }

  .btn-burger.is_active_menu .btn-burger__line::after{
    transform: rotate(40deg) translate(10px,-4px);
    width: 15px;
    border-radius: 0 25% 25% 0;
  }

  .btn-burger.is_active_menu .btn-burger__line::before{
    transform: rotate(-40deg) translate(10px, 4px);
    width: 15px;
    border-radius: 0 25% 25% 0;
  }
  
}