.header {
  display: grid;
  position: fixed;
  top: 0;
  left: 0;
  grid-template-columns: 16% 84%;
  transition: height 0.2s linear;
  z-index: $zIndexHeader;
  width: 100%;
  height: px(70);
  border-bottom: 1px solid $line-color-default--dark;
  background: $bg-color-default;
}

.header__wrapper {
  padding-top: $height-stretch-header;
  background-color: rgb(78,77,119);
}

.nav-panel-mobile {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}

.header--stretch {
  height: $height-stretch-header;
}

@include sm_desktop {
  .header__wrapper {
    padding-top: $height-mobile-header;
  }
  .header {
    grid-template-columns: 1fr;
    height: $height-mobile-header;
    border-bottom: none;
  }

  .nav-panel-mobile {
    grid-template-columns: px(55) 1fr;
    justify-items: start;
    z-index: $zIndexHeader + 2;
    box-shadow: 0 0 10px #00000034;
    background: $bg-color-default;
  }
}

@import "/__logo.scss";
@import "/__burger.scss";
@import "/__nav.scss";
@import "/__burger_animation.scss";
