.member-box {
  position: relative;
  max-width: px(390);
  overflow: hidden;

  &__info {
    position: absolute;
    right: 8%;
    bottom: 8%;
    transform: translateX(50%);
    transition: all 0.3s ease-in-out;
    opacity: 0;
  }
}

.member-box:hover .member-box__info {
  transform: translateX(0);
  opacity: 1;
}

.member-info {
  max-width: 75%;
  overflow: hidden;
  background-color: $bg-color-default;
  @include p(7, 20, 7, 20);
  font-family: $font-family-default;

  &__name {
    @include m(0, 0, 5, 0);
    line-height: 1.33;
    color: $color-default--darkest;
    font-size: px(18);
  }

  &__position {
    text-transform: uppercase;
    font-size: px(13);
    font-weight: 400;
  }
}
