footer.footer.context-dark
  .container
    .footer-grid
      .footer-box
        h3.title-secondary.footer-box__title Location
        ul.footer-location.footer-box__body
          li.footer-location__item 1418 Riverwood Drive,
          li.footer-location__item Suite 3845 Cottonwood,
          li.footer-location__item CA 96022
          li.footer-location__item United States

      .footer-box
        h3.title-secondary.footer-box__title Contacts
        .footer-box__body
          .footer-contact
            span.footer-contact__text Ph.
            a(class="footer-contact__link" href="tel:#") 1-300-123-1234
          .footer-contact
            span.footer-contact__text Mail.
            a(class="footer-contact__link" href="mailto:#") Info@demolink.org
        
          ul.footer-social
            each network in ["facebook", "instagram", "twitter", "youtube"]
              li.footer-social__item
                a.footer-social__link(href="#")
                  i(class="icon-" + network)

      .footer-box
        h3.title-secondary Newsletter


