footer.footer.context-dark
  .container
    .footer-grid
      .footer-box.footer-grid__item
        h3.title-secondary.footer-box__title Location
        ul.footer-location.footer-box__body
          li.footer-location__item 1418 Riverwood Drive,
          li.footer-location__item Suite 3845 Cottonwood,
          li.footer-location__item CA 96022
          li.footer-location__item United States

      .footer-box.footer-grid__item
        h3.title-secondary.footer-box__title Contacts
        .footer-box__body.footer-contacts
          .footer-contacts__item
            span.footer-contacts__text Ph.
            a(class="footer-contacts__link" href="tel:#") 1-300-123-1234
          .footer-contacts__item
            span.footer-contacts__text Mail.
            a(class="footer-contacts__link" href="mailto:#") Info@demolink.org
        
        ul.footer-social.footer-box__bottom
          each network in ["facebook", "instagram", "twitter", "youtube"]
            li.footer-social__item
              a(class="footer-social__btn " + "icon-" + network, href="#")

      .footer-box.footer-grid__item.footer-grid__item--wide
        h3.title-secondary Newsletter

        form(class="footer-form", action="#", method="post")
          .form-box
            .ico-mail
            input(class="form-input footer-form__input", type="email", name="email" id="footer-email")
            label(for="footer-mail") E-mail
          +btn("#", "Subscribe")


