header.header
  .nav-panel-mobile
    .btn-burger
      .btn-burger__box
        span.btn-burger__line
    .logo
      a.logo__link(href="#")
        img.logo__img(src="./assets/img/logo.png", alt="there was supposed to be a logo")
  nav.nav
    a.nav__link.nav__link--selected(href="#") Home
    a.nav__link(href="#") About
    a.nav__link(href="#") Typography
    a.nav__link(href="https://livedemo00.template-help.com/wt_51688/index.html" target="_self") Contacts