header#header
  .nav_panel_mobile
    .menu_btn
      .menu_btn_container
        span.menu_btn_line
    .header_logo
      a.header_logo_link(href="#")
        img(src="assets/img/logo.png", alt="there was supposed to be a logo")
  nav.header_nav
    a.nav_link.nav_link-selected(href="#") Home
    a.nav_link(href="#") About
    a.nav_link(href="#") Typography
    a.nav_link(href="https://livedemo00.template-help.com/wt_51688/index.html" target="_self") Contacts