header.header
  .menu__btn
    .btn__container
      span.btn__line
  .header__logo
    a.logo__link(href="#")
      img(src="assets/img/logo.png", alt="there was supposed to be a logo")
  nav.header__nav
    a.nav__link.isActive(href="#") Home
    a.nav__link(href="#") About
    a.nav__link(href="#") Typography
    a.nav__link(href="#") Contacts