header.header
  .nav-panel-mobile
    .btn-burger
      .btn-burger__box
        span.btn-burger__line
    .logo
      a.logo__link(href="#")
        img.logo__img(src="assets/img/logo.png", alt="there was supposed to be a logo")
  nav.header_nav
    a.nav_link.nav_link-selected(href="#") Home
    a.nav_link(href="#") About
    a.nav_link(href="#") Typography
    a.nav_link(href="https://livedemo00.template-help.com/wt_51688/index.html" target="_self") Contacts