header.header
  .header__logo
    a.logo__link(href="#")
      img(src="assets/img/logo.png", alt="there was supposed to be a logo")
  nav.nav__header
    a.nav__link(href="#") Home
    a.nav__link(href="#") About
    a.nav__link(href="#") Typography
    a.nav__link(href="#") Contacts