mixin container_lines_row
  .container_lines_row
    .column.col_line
    .column.col_line
    .column.col_line

mixin btn(href, text)
  a.btn_link(href=href)=text

mixin counter(title, number)
  .counter
    .counter-number= number
    .counter-symbol +
    .counter-title= title
    