mixin grid-bg-lines
  .container-lines__row
    .container-lines__column
    .container-lines__column
    .container-lines__column

mixin btn(href, text)
  a.btn(href=href)=text

mixin counter(title, number)
  .counter
    div.counter__number= number
    div.counter__symbol +
    div.counter__title= title