mixin container_lines_row
  .container_lines_row
    .line-column
    .line-column
    .line-column

mixin btn(href, text)
  a.btn_link(href=href)=text

mixin counter(title, number)
  .counter
    span.counter-number= number
    span.counter-symbol +
    span.counter-title= title