.menu_btn {
  height: 100%;
  display: none;
  cursor: pointer;
}

@include sm_desktop {
  
  .menu_btn {
    height: 100%;
    width: 100%;
    @include p(0, 15, 0, 15);
    display: block;
  }
  
  .menu_btn_container{
    position: relative;
    height: inherit;
    width: inherit;
    display: flex;
    align-items: center;
    transition: all .4s ease-in-out;
  }
  
  .menu_btn_line {
    position: absolute;
    z-index: $zIndexHeader + 1;
    width: 100%;
    height: 4px;
    display: block;
    background: $headerLineColor;
    transition: all .4s ease-in-out;

    &::before {
      @extend .menu_btn_line;
      content: '';
      top: 8px;
      transition: all .4s ease-in-out;
    }

    &::after {
      @extend .menu_btn_line;
      content: '';
      bottom: 8px;
      transition: all .4s ease-in-out;
    }
  }

}