.menu__burger {
  display: none;
}

@include smDW {
  .menu__burger {
    padding: 0 15px 0 15px;
    min-width: 55px;
    max-width: 55px;
    height: auto;
    display: block;
  }
  .btn__burger {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background: $baseBGcolor;
  }
  .line__burger {
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    background: $baseLineColor;
    &::before {
      @extend .line__burger;
      content: '';
      top: 8px;
    }
    &::after {
      @extend .line__burger;
      content: '';
      bottom: 8px;
    }
  }
}