.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: $baseBGcolor;
}

@import "/_nav.scss";
@import "/_logo.scss";
@import "/_burger.scss";



