.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: $baseBGcolor;
  box-shadow: 0px 8px 4px 0px rgba(0,0,0,.1);;
}

@import "/_nav.scss";
@import "/_logo.scss";
@import "/_burger.scss";



