#header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: $zIndexHeader;
  width: 100%;
  display: grid;
  grid-template-columns: 17% 83%;
  height: px(90);
  background: $headerBGcolor;
  border-bottom: px(1) solid $headerLineColor;
  transition: height .3s ease-in;
}

.nav_panel_mobile {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}

#header.is_scrolling {
  height: px(70);
}

@include l_desktop {

  #header {
    height: px(70);
  }

}

@include sm_desktop {

  #header {
    grid-template-columns: 1fr;
    height: px(55);
    border-bottom: none;
  }

  .nav_panel_mobile {
    z-index: $zIndexHeader + 2;
    grid-template-columns: px(55) 1fr;
    justify-items: start;
    box-shadow: 0 0 10px #00000034;
    background: $headerBGcolor;
  }

}

@import "/_logo.scss";
@import "/_burger.scss";
@import "/_nav.scss";
@import "/_burger_animation.scss";