.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo__link {
  max-width: 170px;
}

@include DW {

  .logo__link {
    max-width: 150px;
  }
  
}

@include smDW {

  .header__logo {
    padding: 7px 0 7px 0;
    justify-content: start;

  }
}