.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo__link {
  max-width: 170px;
}

@include smDW {
  .header__logo {
    padding: 7px 0 7px 0;
    // flex: 0 0 50vw;
    justify-content: start;
  }
}