.header__nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: $headerNavBGcolor;
}
.nav__link {
  width: 100%;
  padding: 35px 10px;
  color: $headerNavFontColor;
  font-size: .95em;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  border-left: 1px solid $headerNavLineColor;
  transition: 
    background .2s ease-in,
    color .2s ease-in;
  &:hover {
    color: $headerNavHoverFontColor;
    background: $headerNavHoverBGcolor;
  }
}

.isActive {
  color: $headerNavHoverFontColor;
  background: $headerNavHoverBGcolor;
}

@include DW {
  .nav__link {
    padding: 25px 0;
  }
}

@include smDW {
  .header__nav {
    // display: flex;
    // flex: 0 0 100%;
    max-width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 2px;
    width: 250px;
    height: 100vh;
    flex-flow: column wrap;
    justify-content: start;
    z-index: -1;
  }
  .nav__link {
    margin: 2px 0px;
    padding: 15px 15px;
    font-weight: 500;
    text-align: start;
    color: $secondaryHeaderNavFontColor;
  }
  .nav__link:hover {
    color: $secondaryNavHoverFontColor;
    background: $secondaryHeaderNavHoverBGcolor;
  }
  .isActive {
    color: $secondaryNavHoverFontColor;
    background: $secondaryHeaderNavHoverBGcolor;
  }
}