extend ../layout/base.pug
block content
  main
    section#preview
      .container
        .preview_title
          h1.preview_title_main Digital production
          div.preview_title_text of the
          div.preview_title_big-text Future
        p.preview_description.
          With 19+ years’ experience in combining web development, 
          design and marketing, we create award-winning projects and 
          creative campaigns both online and offline.
    section#project
      .container.container_lines
        +inner_container_lines
        .project_container
          h2.project_title.title_section Every Project
          h3.project_subtitle is a challenge to do better
          p.project_description.
            We are a team of talented designers and developers 
            who are ready to guide our clients through the flawless 
            and timely execution of any web design project. Since day one, 
            we have been delivering creative and unique websites to our clients worldwide.
          +btn('/#','read more about us')
    section#awards
      .container.container_lines
        +inner_container_lines
        .awards_container
          h2.title_section Our Awards
          p.
            As a leading web design team, we have received multiple awards over the years.
          +counter('international awards', '17')
