extend ../layout/base.pug
block content
  main
    section#preview
      .container
        .preview_title
          h1 Digital production
          span.preview_title_text of the
          span.preview_title_text_big Future
        p.preview_text.
          With 19+ years’ experience in combining web development, 
          design and marketing, we create award-winning projects and 
          creative campaigns both online and offline.
