@font-face {
    font-family: "Poppins";
    font-weight: 300;
    font-style: normal;
    src: url("../fonts/Poppins.ttf");
}

@font-face {
    font-family: "PoppinsBig";
    font-weight: 900;
    font-style: normal;
    src: url("../fonts/Poppins-Bold.ttf");
}