//I know everything is bad and needs to be redone.
//but I need to learn JS

//-------------- global -----------------wtf

//font
$baseSize: 16;
$baseFont: "Poppins", Arial, Tahoma, sans-serif;
$seconaryFont: "PoppinsLight", Arial, Tahoma, sans-serif;
$baseFontSize: #{$baseSize}px;

$baseLetterSpasing: 0.01rem;
$secondaryLetterSpasing: 0.02rem;

$baseFontColor: rgb(0, 0, 0);
$seconaryFontColor: #c4c4c4;
$tertiaryFontColor: #ffffff;

//bg color wft
$baseBGcolor: #ffffff;
$secondaryBGcolor: #262626;

$linkBGcolor: #f9f9f9;
$hoverLinkBGcolor: #e5e5e5;

$linkHoverColor: #6c69e1;

$baseLineColor: #c4c4c4;

//common color
$color-select-common: rgb(108, 105, 225);
//font color - start rework-------------------
$color-default: rgba(0, 0, 0, 0.75);
$color-default--darkest: rgb(0, 0, 0);
$color-default--light: rgb(255, 255, 255);
$color-default-lighten: rgba(255, 255, 255, 0.4);

// header -sratr rework ----------------------
$color-header-link: rgb(38, 38, 38);
$color-header-link-hover: $color-select-common;
$bg-color-header-link: rgb(249, 249, 249);
$bg-color-header-link-hover--mobile: $color-select-common;
$color-header-link--mobile: rgb(155, 155, 155);

//line color - star rework --------------------
$line-color-default: rgb(229, 229, 229);
$line-color-default--dark: rgb(196, 196, 196);

//bg color - start rework ---------------------
$bg-color-default: rgb(255, 255, 255);
$bg-color-dark: rgb(38, 38, 38);

//------------ padding size ----------------
$basePadding: 15px;

//------------ Breakpoint ------------------

$largeDesktopWidth: 1600px;
$desktopWidth: 1200px;
$smDesktopWidth: 1000px;
$tableWidth: 768px;
$smTableWidth: 640px;
$phoneWidth: 480px;
// $smPhoneWidth            : 320px;

//------------ z-index ----------------------

$zIndexHeader: 4000;
$zIndexSectionContent: 1000;

//color text
// $gray--lighten:        #DCDCDC;
// $gray--light:          #BABABA;
// $gray:                 #808080;
// $gray--dark:           #585858;
// $gray--darken:         #333333;

// // На примере вариаций одного главного цвета
// $color-main--lightest: #CBF3BF;
// $color-main--lighten:  #ACEF97;
$color-main--light-alpha: rgba(255, 255, 255, 0.4);
// $color-main:           #3FD411;
$color-main--dark-alpha: rgba(0, 0, 0, 0.75);
// $color-main--darken:   #329F11;
// $color-main--darkest:  #184B09;

// // Цвета главной кнопки
// $btn-main-bg:          @color-success;
// $btn-main-color:       @color-success--darken;
// $btn-main-border:      @color-success--darken;
