//font
$baseFont: "Poppins", Arial, Tahoma, sans-serif;
$baseFontSize: 15px;
$baseFontColor: #000000;
$seconaryFontColor: #C4C4C4;

$baseLineColor: #C4C4C4;

$baseColorActiveLink: #6C69E1;
$secondaryColorActiveLink: #ffffff;

$baseBGcolor: #ffffff;
$navBGcolor: #6C69E1;

$desktopWidth            : 1200px;
$smDesktopWidth          : 1000px;
$tableWidth              : 768px;
$smTableWidth            : 640px;
$phoneWidth              : 480px;
// $smPhoneWidth            : 320px;

$zIndexNav: 4000;

