header
  a.header__logo
    img(src="./img/logo-default-261x72.png", alt="i-studio")
  nav.header__nav
    a.nav__link(href="#") Home
    a.nav__link(href="#") About
    a.nav__link(href="#") Typography
    a.nav__link(href="#") Contacts
    