.header {
  position: sticky;
  top: 0;
  left: 0;;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: $baseBGcolor;
  &__nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__logo {
    width: 19vw;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;  
  }
}

.logo__link{
  max-width: 170px;
  img {
    width: 100%;
  }
}

.nav__link {
  width: 100%;
  padding: 40px 10px;
  text-transform: uppercase;
  text-align: center;
  color: #262626;
  font-weight: 600;
  border-left: 1px solid $baseLineColor;
  transition: background .2s ease-in,
              color .2s ease-in;
  &:hover {
    color:$colorActiveLink;
    background: #F9F9F9;
  }
}
.isActive {
  color:$colorActiveLink;
  background: #F9F9F9;
}








