.team-info {
  display: grid;
  justify-items: end;
  @include p(0, 0, 0, 10);
  
  @include sm_desktop {
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
    gap: px(15);
    @include p(0, 0, 0, 0);
  }

  @include width575 {
    grid-template-columns: 1fr;
    gap: 0;
  }
}


