.team-grid {
  display: flex;
  justify-content: space-between;

  @include sm_desktop {
    flex-direction: column;
  }
  
  @include width575 {
    align-items: center;
    justify-content: start;
  }
}
