body {
  font-family: $baseFont;
  font-size: $baseFontSize;
  font-weight: 300;
  letter-spacing: $baseLetterSpasing;
  line-height: 1.67;
  color: rgba(0, 0, 0, .6);
  background-color: $baseBGcolor;
}

main {
  position: relative;
}

.wrapper {
  position: relative;
}

.container {
  max-width: 1199px;
  width: 100%;
  margin: 0 auto;
  padding: 0 $basePadding 0 $basePadding;
}

.title_section {
  font-family: "PoppinsLight";
  font-size: px(45);
  line-height: 1.13333;
  font-weight: 300;
  color: $baseFontColor;
  text-transform: uppercase;
}

p {
  font-size: px(15);
  color: rgba(26, 13, 13, 0.6);
}

@include large_desktop {
  .title_section {
    font-size: px(35);
  }
}

@include l_desktop {
  .container{
    max-width: 960px;
  }

  .title_section {
    font-size: px(24);
  }
}

@include sm_desktop {
  .container {
    max-width: 720px;
  }
}

@include l_table {
  .container{
    max-width: 540px;
  }
}


