.preview__description {
  max-width: 50%;
  @include p(0, 0, 10, 0);
  line-height: 1.36;
  color: $color-default-lighten;
  font-size: px(18);
}

@include l_desktop {
  .preview__description {
    max-width: 65%;
    @include p(0, 0, 0, 0);
  }
}

@include l_table {
  .preview__description {
    max-width: 100%;
    text-align: center;
  }
}
