.demo-work {
  .slider__toggles {
    display: none;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    z-index: 3;
    justify-content: center;
    transform: translateX(-50%);
  }

  .slider__toggle {
    opacity: 0.4;
    transition: all 0.3s;
    @include m(0, 10, 0, 0);
    width: px(10);
    height: px(10);
    border-radius: 50%;
    background-color: $color-default--darkest;
    cursor: pointer;
    &:hover {
      transform: scale(1.3);
    }

    &:last-child {
      margin: 0;
    }
  }
}

.demo-work .slider__toggle.slide--isActive {
  opacity: 1;
  background-color: $color-link--hover;
}

@include l_table {
  .demo-work {
    .slider__toggles {
      display: flex;
    }
  }
}
