#demo-work {

  .social-list {
    display: flex;
    // justify-content: center;
    align-items: center;
  
    p {
      color: rgba($tertiaryFontColor, 0.4);
    }
  }
  
  .social-item:not(:last-child) {
    @include m(0, 30, 0, 0);

  }

  .social-link {
    font-size: px(22);
    color: rgba($tertiaryFontColor, 0.1);
    transition: all .3s ease-in-out;
    
    &:hover {
      color: $linkHoverColor;
    }
  }

}
