.demo-work {
  .slider-toggles {
    display: none;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    z-index: 2;
    justify-content: center;
    transform: translateX(-50%);
  }

  .slider-toggle {
    opacity: 0.4;
    transition: all 0.3s;
    @include m(0, 10, 0, 0);
    width: px(10);
    height: px(10);
    border-radius: 50%;
    background-color: $color-default--darkest;
    cursor: pointer;
    &:hover {
      opacity: 1;
      background-color: $color-link--hover;
    }

    &:last-child {
      margin: 0;
    }
  }
}

@include l_table {
  .demo-work {
    .slider-toggles {
      display: flex;
    }
  }
}
