.preview_description {
  @include p(0, 0, 10, 0);
  max-width: 50%;
  font-size: px(18);
  line-height: 1.36;
  color: rgba(255, 255, 255, .4);
}

@include l_desktop {

  .preview_description {
    max-width: 65%;
    font-size: px(16);
    @include p(0, 0, 0, 0);
  }

}

@include l_table {

  .preview_description {
    max-width: 100%;
    text-align: center;
  }

}