#preview {
  display: flex;
  align-items: center;
  height: 90vh;
  background: url(../img/bg-intro-1919x953.jpg);
  background-size: cover;
  background-position: center center;
  // background-size: contain;
}

.preview_title {
  color: $tertiaryFontColor;

  h1 {
    font-size: px(30);
    text-transform: uppercase;
  }

}

.preview_title_text {
  // @include m(0, -4, 0, 0);
  font-size: px(21);
  font-weight: 500;
  transform: translateX( - px(10) );
}

.preview_title_big-text {
  @include p(0, 0, 0, 20);
  font-size: px(110);
  text-transform: uppercase;
  font-family: "PoppinsBig";
}

.preview_description {
  max-width: 50%;
  font-size: px(18);
  line-height: 1.36;
  color: rgba(255, 255, 255, .4);
}

@include l_desktop {

  .preview_title h1 {
    font-size: px(25);
  }

}


