#preview {
  display: flex;
  align-items: center;
  height: 90vh;
  background: url(../img/bg-intro-1919x953.jpg);
  background-size: cover;
  background-position: center center;
  // background-size: contain;
}

.preview_title {
  color: $tertiaryFontColor;
  line-height: 1;
  @include m(0, 0, 30, 0);
}

.preview_title_main {
  margin: 0 0 1.5rem 0;
  font-size: px(29);
  text-transform: uppercase;
}

.preview_title_text {
  margin: 0 0 1.25rem 0;
  // margin-bottom: px(18);
  font-size: px(20);
  font-weight: 500;
  transform: translateX( - px(10) );
}

.preview_title_big-text {
  @include p(0, 0, 0, 30);
  font-size: px(110);
  text-transform: uppercase;
  font-family: "PoppinsBig";
}

.preview_description {
  @include p(0, 0, 10, 0);
  max-width: 50%;
  font-size: px(18);
  line-height: 1.36;
  color: rgba(255, 255, 255, .4);
}

@include l_desktop {

  .preview_title_main {
    font-size: px(25);
  }

}


