#preview {
  display: flex;
  align-items: center;
  height: 90vh;
  background: url(../img/bg-intro-1919x953.jpg);
  background-size: cover;
  background-position: center center;
  // background-size: contain;
}

@include l_desktop {

  #preview {
    height: 79vh;
  }

}

@import "/_preview-title.scss";
@import "/_preview-description.scss";
