.team__box-members {
  display: grid;
  grid-template-columns: repeat(2, 385px);
  grid-auto-rows: px(327);

  @include l_desktop {
    grid-template-columns: repeat(2, 265px);
    grid-auto-rows: px(225);
  }

  @include sm_desktop {
    grid-template-columns: repeat(2, px(345));
    grid-auto-rows: px(293);
    @include m(0, 0, 40, 0);
  }

  @include l_table {
    grid-template-columns: repeat(2, 255px);
    grid-auto-rows: px(217);
  }

  @include width575 {
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
  }
}

