.team-container {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, min-content);
  justify-items: end;
  z-index: $zIndexSectionContent;
  @include p(100, 0, 100, 0);
  text-align: right;
}

@import "/_team-members.scss";
@import "/_team-info.scss";
@import "/_team-member-info.scss";
