.team__container {
  position: relative;
  z-index: $zIndexSectionContent;
  @include p(100, 0, 100, 0);
  text-align: right;
}

@import "/__team-grid.scss";
@import "/__team-members-grid.scss";
@import "/__team-head.scss";

