.awards_container {
  position: relative;
  z-index: $zIndexSectionContent;
}

.awards-head {
  display: flex;
}

.awards-description{
  font-family: $seconaryFont;
  font-size: px(17);
  color: $baseFontColor;

}
.awards-head-item {
  flex: 1 1 33.33333%;
}