.awards-list {
  display: grid;
  grid-template-columns: repeat(3, 33.33333%);
  border-top: 1px solid $baseLineColor;
  border-right: 1px solid $baseLineColor;
  // border-right: 1px solid $baseLineColor;
  background-clip: content-box;
}

.awards-list-item {
  height: 100%;
  border-left: 1px solid $baseLineColor;
  border-bottom: 1px solid $baseLineColor;
  overflow: hidden;
  transition: background-color .3s ease-in-out;

  &:nth-child(odd) {
    background-color: $linkBGcolor;
  }

  &:hover {
    background-color: $hoverLinkBGcolor;
  }
}

.awards-link {
  @include p(43, 10, 43, 10);
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $seconaryFontColor;
  cursor: pointer;
}

.awards-item-title {
  position: absolute;
  top: px(19);
  right: px(20);
  text-transform: uppercase;
}

.awards-link-img {
  object-fit: contain;
}