.awards-list {
  display: grid;
  grid-template-columns: repeat(3, 33.33333%);
  border-top: 1px solid $baseLineColor;
}

.awards-list-item {
  position: relative;
  border-bottom: 1px solid $baseLineColor;
}

.awards-link {
  @include p(10, 10, 10, 10);
  display: flex;
  justify-content: center;
  align-items: center;
}

.awards-item-title {
  position: absolute;
  top: px(15);
  right: px(15);
  text-transform: uppercase;
}