<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title i-studio
  body#head-page
    .wrapper
      include ../includes/modules/header.pug
      block content
      include ../includes/modules/footer.pug
    

    