.lates-works-container {
  display: flex;
  position: relative;
  z-index: $zIndexSectionContent;
  justify-content: space-between;
  align-items: center;
  @include p(0, 0, 65, 0);
}

@include l_table {
  .lates-works-container {
    // display: block;
    flex-wrap: wrap;
    align-items: baseline;
    @include p(0, 0, 35, 0);
  }
  .lates-works-container h2 {
    flex: 1 1 60%;
    @include m(0, 0, 30, 0);
  }
}
