.project__container {
  position: relative;
  z-index: $zIndexSectionContent;
  max-width: 47%;
  @include p(203, 0, 100, 0);
}

.project__title {
  @include m(0, 0, 17, 0);
}

.project__subtitle {
  @include m(0, 0, 67, 0);
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
}

.project__description {
  @include m(0, 0, 69, 0);
}

@include large_desktop {
  .project__container {
    @include p(130, 0, 100, 0);
  }

  .project__subtitle {
    @include m(0, 0, 55, 0);
  }

  .project__description {
    @include m(0, 0, 45, 0);
  }
}

@include l_desktop {
  .project__container {
    max-width: 49%;
    @include p(65, 0, 65, 0);
  }

  .project__subtitle {
    @include m(0, 0, 25, 0);
  }

  .project__description {
    @include m(0, 0, 25, 0);
  }
}

@include sm_desktop {
  .project__container {
    max-width: 57%;
  }
}

@include l_table {
  .project__container {
    max-width: 100%;
  }
}
