.container-lines {
  position: relative;

  &__row {
    display: flex;
    position: absolute;
    top: 0;
    right: $padding-default;
    height: 100%;
    width: calc(100% - (#{$padding-default} * 2));
  }
  &__column {
    flex: 1 1 33.3333333%;
    border-left: 1px solid $line-color-default;

    &:last-child {
      border-right: 1px solid $line-color-default;
    }
  }
}

@include sm_desktop {
  .container-lines__row {
    display: none;
  }
}
