.container_lines {
  position: relative;
}

.container_lines_row {
  position: absolute;
  top: 0;
  right: $basePadding;
  height: 100%;
  width: calc(100% - (#{$basePadding} * 2));
  display: flex;
}

.line-column {
  flex: 1 1 33.3333333%;
  border-left: 1px $baseLineColor solid;
}

.line-column:last-child {
  border-right: 1px $baseLineColor solid;
}

@include sm_desktop {
  .container_lines_row {
    display: none;
  }
}