.demo-work {
  position: relative;
  background-color: $bg-color-dark;
}

.demo-work__container {
  position: relative;
  z-index: $zIndexSectionContent;
  width: 42%;
  @include p(80, 0, 135, 0);
}

.demo-work__title {
  @include m(0, 0, 43, 0);
}

.demo-work__description {
  @include m(0, 0, 50, 0);
  color: $color-default-lighten;
}

.demo-work__container .btn {
  @include m(0, 0, 52, 0);
}

@include l_desktop {
  .demo-work__container {
    @include p(60, 0, 55, 0);
    width: 40%;
  }

  .demo-work__title {
    @include m(0, 0, 23, 0);
  }

  .demo-work__description {
    @include m(0, 0, 25, 0);
  }

  .demo-work__container .btn {
    @include m(0, 0, 25, 0);
  }
}

@include l_table {
  .demo-work__container {
    width: 100%;
  }
}

@import "/__social.scss";
@import "/__slider.scss";
@import "/__slider-btn.scss";
@import "/__slider-toggles.scss";
